.slick-prev {
  left: 91%;
}
.slick-next {
  right: 5%;
}
.slick-prev,
.slick-next {
  top: 25rem;
  width: 0px;
  z-index: 1;
  background: red; /*to notice it, is white*/
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
